<h1 class="center">Welcome to Steve marketplace</h1><hr>
<h2 class="center">Steve Marketplace is Ecommerce online store with IT stuff<br>
for buying and selling goods</h2><hr>



<div class="col-xs-12">

    <h1 class="center">
            <span>Site Fees</span>
    </h1>
                        
<div>

<p>The basic cost of selling an item is the listing fee plus the sale transaction fee, plus fees for any optional 
features and services you may use.</p>

<br>
<hr>
<h3 class="center">See Our Story and Whats New At Our Store</h3><hr>

<h4>Marketplace Computers was born from a varity of reasons. We got sick and tired of being charged extensive commssion fees from auction sites. In order to stay in business, those expenses has to be factored into the product pricing of our items. We reliezed the relationship was between 
our customers and our company and no on else. Why should we pay for the extensive fees
auction sites charge and then have to pass it along to our customers, when they dont do anything? 
Well we said enough and created MarketPlace Computers so our customers can get even better pricing on our product 
line of computer hardware parts &amp; accessories.</h4>
<p>What we’re trying to do
At Elara online, we’re making every effort to be Ireland’s best PC and component e-tailer. This means offering the largest and newest assortment of products, from the world's leading manufacturers, at a competitive price, within a reasonable time, and directly to your door.
The way it works Elara is a 100% Irish Owned Online Company. We utilise automated, online systems to allow our customers to place and view their orders over the web. This allows us to save on costs and in turn we can pass those savings on to our customers.
Order Processing
Customers should note that all payments are pre authorised before orders are processed, if there is a delay receiving a check, bank draft or a credit/debit card is unauthorised the order will not be processed until payment is made.
Delivery
Our warehouse will send a dispatch email when the order leaves us. This email contains tracking number(s) and contact details for the carrier. Delivery usually takes place the day after a customer receives the dispatch email, but sometimes the delivery can be delayed till the second day, this is especially true for very rural areas of the country. If the courier has made one attempt to deliver and if the customer is not available, the courier will leave a calling card and the customer will have 7 days to contact the courier company and request a second delivery. After seven days without contact from the customer, DPD will return the order to Elara Online for collection. If we are requested by the customer to re-dispatch the order there will be a second delivery charged. Please note that orders delivered to companies may not be delivered to the customer in person, but will likely be signed for at a post room, goods in or at the reception area, please notify the relevant personnel in your company if this is the case.
Collections
Our warehouse will also send an email to customers to inform them that their order is ready for collection. As we have limited space to store collections we require that customers collect their order within five business days of notification. Orders not collected within this time will incur a daily storage charge of €1. Customers are requested not to attempt collection until the collection email is received or the online status for the order shows ‘Awaiting Collection’ as their order will not be available.
Pre/Post Sales Advice and Phone Orders
Because Elara Online is an ‘e-tailer’ we ask that our customers submit orders through our website. We have a small but dedicated sales team available to handle calls.
Bear in mind that our sales personnel are not suitably qualified to give technical advice and solve compatibility issues. They will do their best to help, but in most cases they are just referencing information that is readily available on our website. Should a customer have questions regarding products, and they cannot find the answer on our website, then we would advise that they visit the manufacturer’s website which is listed above the shipping link when they are viewing a products full details. Should a customer be unable to find the relevant information they can email the sales team using the "Email a query" link on the right hand side of the page when they are viewing a products full details, we will then attempt to give an acceptable answer by reply of email.
Email contacts for the sales team can be found in the Contact us section.
Please be advised that Elara online does not provide technical support for products other than Elara branded computers. All technical support queries should be directed to the relevant manufacturer.
Email contacts for the CS team can be found in the Contact us section.
Returns by Phone
All returns requests should be submitted using our online returns tool. All queries regarding returns must be submitted through email. Email contacts for the Returns Team can be found in the Contact us section.
. 
</p>