
 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>World <br>Computer Parts </h1>
        <h2>This is a IT marketplace with computer accessories.</h2><br>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Buy now &raquo;</a></p>
      </div>
    </div>
 
    


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>About Us</h2>
          <p>High quality used IT equipment supplied by trusted refurbishers. All items are stress tested and well packed in suitable packaging. If you can't find what you are looking for don't hesitate to ask. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Some of our Manufacturer</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Contact Us</h2>
          <p>This help section is designed to answer your query as quickly as possible. Should you be unable to find the answer to your question you may contact the relevant department using the email addresses in the Contacts section or speak to one of our sales reps using the live chat below. You can find us using this Location Map.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
      </div> <!-- /container -->


